.navbar {
  color: black !important;
}

.card {
  padding: 2px;
  margin: 5px;
  color: #c7bdff !important;
  background-color: #2e2e2e;
}

body {
  cursor: pointer;
  color:black !important;
  text-decoration: none;
  background-color: white;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: white;
}

a {
  color: #8a2be2;
  text-decoration: none;
}

.commentCard {
  background-color: transparent;
  color: black !important;
}

.cardLink:hover {
  background-color: #000000bb;
  }

footer {
  margin-top: 50px;
}

.form-control {
  margin: 5px 0px 5px 0px;
}

.material-icons { 
  font-size: 36px;
  padding-left: 10px;
  padding-right: 10px; 
}

.navbar-brand {
  font-size: 24px;
  float: right;
}

.navbar-inner {
  text-align: center;
}

.card-title {
  font-size: 22px;
}

.ga_icons {
  color: #8a2be2;


}

.card-description {
  font-size: 20px;
}

.card-author {
  font-size: 16px;
}